@import "variables.less";

.clearfix:after {
    content:"";
    display:table;
    clear:both;
}

.horizontal-list-2:not(.posts-list-wrapper) {
    font-size: 0;
    margin:  0 -15px;
    > * {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: calc(50% - 0.1px);
        padding: 0 15px;
        font-size: @font-size-base;
    }
}

.horizontal-list-3:not(.posts-list-wrapper) {
    font-size: 0;
    margin:  0 -15px;
    > * {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: calc(33.33333% - 0.1px);
        padding: 0 15px;
        font-size: @font-size-base;
    }
}

.horizontal-list-4:not(.posts-list-wrapper) {
    font-size: 0;
    margin:  0 -15px;
    > * {
        box-sizing: border-box;
        display: inline-block;
        vertical-align: top;
        width: calc(25% - 0.1px);
        padding: 0 15px;
        font-size: @font-size-base;
    }
}

.justify-horizontal-list {
    text-align: justify;
    line-height: 0;
    font-size: 0;
    > * {
        display: inline-block;
        font-size: @font-size-base;
    }
    &::after {
        content: '';
        display: inline-block;
        width: 100%;
    }
}

.no-transition {
    .vendor(transition, 'none !important');
}

.margin-0 {
    margin: 0 !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.h-padding-30 {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.h-margin-30 {
    margin-left: 30px !important;
    margin-right: 30px !important;
}

.h-margin-15 {
    margin-left: 15px !important;
    margin-right: 15px !important;
}

.h-padding-15 {
    padding-left: 15px !important;
    padding-right: 15px !important;
}

.h-padding-0 {
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.v-align-children {
    .vendor(display, flex);
    .vendor(align-items, center);
    .vendor(justify-content, center);
    .vendor(flex-direction, row);
}

.border-top-1 {
    border-top: 1px solid;
}

.headers-height-1 {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
    }
}

.paragraphs-height-1 {
    p {
        line-height: 1;
    }
}

.overflow-hidden {
    overflow: hidden;
}

.pull-left {
    float: left;
}

.pull-right {
    float: right;
}

.background-center-right {
    background-position: center right;
    background-repeat: no-repeat;
}

.input-group {
    margin-bottom: 20px !important;
    label {
        margin-bottom: 5px;
        font-weight: 600;
    }
    p.description {
        margin-top: 5px;
        margin-bottom: 0;
    }
}

@media (max-width: 768px) {
    .text-align-center-max-width-768 {
        margin-left: 0;
        margin-right: 0;
        padding-left: 0;
        padding-right: 0;
        text-align: center;
    }
}

@media (max-width: 1300px) {
    .horizontal-list-4:not(.posts-list-wrapper) {
        > * {
            width: calc(50% - 0.1px);
        }
    }
}

@media (max-width: 992px) {
    .horizontal-list-4:not(.posts-list-wrapper), .horizontal-list-3:not(.posts-list-wrapper), .horizontal-list-2:not(.posts-list-wrapper) {
        display: block;
        margin:  0;
        > * {
            display: block;
            width: 100%;
            padding: 0;
        }
    }
}

@media (min-width: 780px) {
    .text-center-sm {
        visible: hidden
    }
}
@media (max-width: 780px) {
    .text-center-sm {
        text-align: center;
        visible: visible
    }
}
