@import "variables.less";
@import "woo-product.less";
@import "woo-templates.less";
@import "woo-reviews.less";
@import "woo-widgets.less";
@import "woo-cart.less";
@import "woo-checkout.less";


@font-face {
    font-family: 'star';
    src: url('@{template_directory_uri}/fonts/star.eot');
    src: url('@{template_directory_uri}/fonts/star.eot?#iefix') format('embedded-opentype'),
        url('@{template_directory_uri}/fonts/star.woff') format('woff'),
        url('@{template_directory_uri}/fonts/star.ttf') format('truetype'),
        url('@{template_directory_uri}/fonts/star.svg#star') format('svg');
    font-weight: normal;
    font-style: normal;
}

.active-sidebar {
    #content {
        .woocommerce {
            margin-top: 0 !important;
        }
    }
}

.archive {
    #content {
        position: relative;
        .woocommerce-result-count {
            float: left;
            border-top: 1px solid @accent-1-color;
            margin-top: 1px;
            display: inline-block;
            letter-spacing: 2px;
            font-weight: 700;
            font-size: 14px;
            text-transform: uppercase;
            padding: 3px 0;
            z-index: 1;
            font-family: Montserrat, Helvetica, Arial, sans-serif;
            color: @black-darker;
            &::before {
                position: absolute;
                content: '';
                top: 0;
                left: 0;
                right: 0;
                height: 0;
                border-top: 1px solid @white-darker;
                z-index: 1;
            }
        }
        .woocommerce-ordering {
            float: right;
            select {
                width: 200px;
                float: right;
                border: none;
                background-color: @white;
                direction: rtl;
                color: @gray-darker;
                letter-spacing: 1px;
                font-weight: 500;
                font-size: 10px;
                padding: 0;
                height: 30px;
                text-transform: uppercase;
            }
        }
        ul.products {
            &::before {
                content:"";
                display:table;
                clear:both;
            }
            li.shop-product {
                &:last-child {
                    .entry {
                        margin-bottom: 0;
                    }                    
                }
            }
        }
    }
}

body.woocommerce-page {
    #content {
        .woocommerce:not(.widget) {
            box-shadow: 0 2px 3px -1px fade(@gray, 70%);
            background-color: @white-lighter;
            padding: 60px 30px;
            margin-bottom: 60px;
        }
    }    
}

#content {
    > .woocommerce-message {
        margin-bottom: 40px;
    }
    .woocommerce:not(.widget) {
        .col2-set {
            .col-1 {
                float: left;
                width: 50%;
                padding-right: 15px;
                box-sizing: border-box;
            }
            .col-2 {
                float: right;
                width: 50%;
                padding-left: 15px;
                box-sizing: border-box;
            }
            &::after {
                content:"";
                display:table;
                clear:both;
            }
        }
        ul.products {
            margin: 0;
            padding: 0;
            > li.product {
                position: initial;
                padding: 0;
                margin: 0;
                list-style: none;
                &::before {
                    content: none;
                }
            }
        }
        .woocommerce-message {
            background-color: @white-lighter;
            padding: 20px 0;
        }
        ul.woocommerce-error {
            background-color: @white-lighter;
            padding: 20px;
            margin: 0 0 30px 0;
            li {
                margin: 0;
                padding: 0;
                color: @accent-1-color;
                &::before {
                    content: none;
                }        
            }
        }
        form {
            > div, > p {
                margin-bottom: 20px !important;
            }
        }
    }
}    

#customer_login {
    input[name="login"] {
        .button(fade(@white-lighter, 87%), @accent-1-color);
    }
    input[name="register"] {
        .button(fade(@white-lighter, 87%), @accent-1-color);
    }
}


@media (max-width: 786px) {
    body.woocommerce-page {
        #content {
            .woocommerce:not(.widget) {
                padding: 5px;
                margin-bottom: 5px;
            }
        }    
    }
    #content {
        .woocommerce:not(.widget) {
            .col2-set {
                .col-1 {
                    float: none;
                    width: 100%;
                    padding-right: 0;
                }
                .col-2 {
                    float: none;
                    width: 100%;
                    padding-left: 0;
                }
            }
        }
    }
}

.star-rating {
    overflow: hidden;
    position: relative;
    height: 1em;
    line-height: 1;
    font-size: 1em;
    width: 5.5em;
    font-family: star;
    margin-bottom: 10px;
    span {
        overflow: hidden;
        float: left;
        top: 0;
        left: 0;
        position: absolute;
        padding-top: 1.5em;
        &:before {
            content: "\73\73\73\73\73";
            top: 0;
            position: absolute;
            left: 0;
            color: #F4D819;
        }
    }
    &::before {
        content: "\73\73\73\73\73";
        color: fade(@black-darker, 20%);
        float: left;
        top: 0;
        left: 0;
        position: absolute;
    }
}

.price-deal {
    background-color: @white-dark;
    .vendor(box-shadow, 0 2px 3px -1px fade(@gray, 70%));
    .regular-price, .discount, .savings {
        display: inline-block;
        margin: 0;
        text-align: center;
        text-transform: uppercase;
        padding: 8px 0;
        width: 32%;
        border-right: 1px solid @white-darker;
        font-size: 12px;
        box-sizing: border-box;
        > span {
            color: inherit;
            font-weight: 300;
            font-size: 12px;
            letter-spacing: 1px;
            display: block;
            &.amount {
                font-size: 16px;
                font-weight: 600;
                color: @black-darker;
            }                
        }
        &:last-child {
            border-right: none;
        }
    }
}

.price-offer {
    padding: 15px;
    .discount {
        float: left;
        width: 20%;
        font-size: 29px;
        line-height: 30px;
        float: left;
        color: @brand-color;
        font-weight: 500;
    }
    .regular-price {
        float: left;
        width: 35%;
        color: @gray;
        line-height: 30px;
        text-align: right;
        font-size: 14px;
        text-decoration: line-through;
        .amount {
            .currency {
                margin-right: 10px;
            }
        }
    }
    .price {
        float: left;
        width: 45%;
        color: @black;                    
        line-height: 30px;
        text-align: right;
        .amount {
            font-size: 29px;
            font-weight: 500;
            .currency {
                font-weight: 300;
                font-size: 14px;
                padding-right: 10px;
            }
        }                    
    }
    &::after {
        content:"";
        display:table;
        clear:both;
    }
}          

.woocommerce-pagination {
    margin-top: 40px;
    line-height: 0;
    ul.page-numbers {
        * {
            box-sizing: border-box;
        }
        display: inline-block;
        margin: 0;
        padding: 0;
        li {
            margin: 0 10px 0 0;
            padding: 0;
            color: @black;
            list-style: none;
            float: left;
            span, a {
                position: relative;
                display: block;
                margin-right: 1px;
                width: 30px;
                height: 30px;
                border: @white-darker 0px solid;
                border-radius: 50%;
                background: @white-lighter;
                color: inherit;
                text-align: center;
                text-decoration: none;
                font-size: 13px;
                line-height: 30px;
                box-shadow: 0 1px 3px 0 fade(@black-darker, 12%), 0 1px 2px 0 fade(@black-darker, 24%);
                &::before {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    border-radius: 100px;
                    box-shadow: 0 0 0 2px fade(@black-darker, 75%);
                    content: '';
                    .vendor(transition, all .25s);
                    .vendor(transform, scale(0));
                }
                &:hover {
                    color: transparent;
                }
                &:hover::before {
                    box-shadow: inset 0 0 0 4px fade(@black-darker, 75%);
                    .vendor(transform, scale(.3));
                }
            }
            span::before {
                box-shadow: inset 0 0 0 1px fade(@brand-color, 75%);
                .vendor(transform, scale(1));
            }                    
        }
    }
}

#customer_login {
    h2 {
        font-size: 1.75em;
        line-height: 1.25;
        margin-bottom: 24px;
    }
}

.select2-container {
    .select2-choice {
        border-radius: 0 !important;
        border: 1px solid @white-darker !important;
        height: 43px;
        vertical-align: middle;
        line-height: 43px;
        font-size: @font-size-small;
    }
}

.select2-drop {
    background: @white-lighter !important;
    &.select2-drop-active {
        border: 1px solid @white-darker !important;
    }
    &.select2-drop-above.select2-drop-active {
        border-top: 1px solid @white-darker;
    }
    .select2-search  {
        padding: 4px;
    }
    .select2-results {
        &.select2-highlighted {
            background: @white-darker !important;
        }
        background: @white !important;
    }
}