//@brand-color
//@accent-1-color
//@accent-2-color

@white-darker:            #eaeaea;
@white-dark:              #f3f3f3;
@white:                   #f5f5f5;
@white-light:             #f8f8f8;
@white-lighter:           #fff;
@white-transparent:       rgba(255,255,255,0.9);


@gray-darker:            #959799;
@gray-dark:              #aaaaaa;
@gray:                   #bababa;
@gray-light:             #cacaca;
@gray-lighter:           #dadada;


@black-darker:            #000;
@black-dark:              #111;
@black:                   #333;
@black-light:             #666;
@black-lighter:           #888;


@font-size-small:         14px;
@font-size-base:          15px;
@font-size-large:         20px;


@menu-height:   78px;
@menu-item-v-padding:   8px;
@menu-item-h-padding: 18px;

.vendor(@property, @value) when (isstring(@value) = false) {
    -webkit-@{property}: @value;
     -khtml-@{property}: @value;
       -moz-@{property}: @value;
            @{property}: @value;
}

.vendor(@property, @value) when (isstring(@value) = true) {
    -webkit-@{property}: e(@value);
     -khtml-@{property}: e(@value);
       -moz-@{property}: e(@value);
            @{property}: e(@value);
}

.button(@color, @bg_color) {
    text-transform: uppercase;   
    letter-spacing: inherit;
    background-color: @bg_color;
    color: @color;
    box-shadow: 0 1px 3px 0 fade(@black-darker, 12%), 0 1px 2px 0 fade(@black-darker, 24%);
    outline: 0;
    outline-offset: 0;
    border: 0;
    border-radius: 2px;
    .vendor(transition, all .15s ease-in-out);
    display: inline-block;
    width: auto;
    box-sizing: border-box;
    text-align: center;
    border-color: @bg_color;
    font-weight: 400;
    white-space: nowrap;
    vertical-align: middle;
    .vendor(touch-action, manipulation);
    cursor: pointer;
    .vendor(user-select, none);
    font-family: Roboto,'Helvetica Neue, Helvetica, Arial',sans-serif;
    background-image: none;
    margin: 0;
    text-decoration: none;
    &:hover, &:focus {
        background-color: darken(@bg_color, 10%);
        color: @color;
        outline: 0;
        outline-offset: 0;
        border: 0;
    }
}